@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}
/* Spacing */
.p-6 {
  padding: 3rem;
}
.mt-6 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 1.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mx-2 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

/* widths */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-100 {
  width: 100%;
}

/* flex */
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}
.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
